<form action="addToEvent">
	<div class="row">
		<div class="col-xs-12">
			<h4>Legg til {{ innslag.navn }} i programhendelse</h4>
			<div class="form-group text-danger">
				<select name="event" class="form-control" required="required">
					<option value="false" disabled="disabled" selected="selected">Velg hendelse</option> 
					{% for hendelse in monstring.hendelser %}
						<option value="{{ hendelse.id }}"><i>{{ hendelse.start.date|date('H:i') }}</i> {{ hendelse.navn }}</option> 
					{% endfor %}
				</select>
			</div>
		</div>
	</div>

	<div class="clearfix"></div>
	<button type="submit" class="action btn btn-success" data-action="save">Lagre</button>
	&nbsp; &nbsp; eller 
	<a href="#innslag_{{ innslag_id }}" class="innslagResetAndReloadBody" data-innslag-id="{{ innslag_id }}">avbryt</a>
	
	<div class="clearfix"></div>
</form>