<form action="innslag" data-object-id="{{ innslag.id }}">
	<div class="row">
		<div class="col-xs-12">
			<h4 style="margin-bottom: 0px;">Rediger informasjon</h4>
			<p>Røde felt (merket *) er obligatoriske!</p>
		</div>
		
		<div class="col-xs-12 col-sm-6 col-lg-4">
			<div class="form-group text-danger">
				<label for="navn">Navn *</label>
				<input name="navn" type="text" class="form-control" value="{{ innslag.navn }}" />
			</div>

			{% if type.harSjanger %}
				<div class="form-group">
					<label for="sjanger">Sjanger</label>
					<input name="sjanger" type="text" class="form-control" value="{{ innslag.sjanger }}" />
				</div>
			{% endif %}
			
            {% if type.harBeskrivelse %}
                <div class="form-group">
                    <label>Beskrivelse</label>
                    <textarea name="beskrivelse" class="form-control">{{ innslag.beskrivelse }}</textarea>
			    </div>
            {% endif %}
			
		</div>
		<div class="col-xs-12 col-sm-6 col-lg-4">
			{% if monstring.kommuner|length > 1  %}
				<div class="form-group text-danger">
					<label for="kommune">Kommune/bydel *</label>
					<select name="kommune" class="form-control" required>
						{% for id, navn in monstring.kommuner %}
							<option value="{{ id }}" {{ innslag.kommune_id == id ? 'selected="selected"' : '' }}>{{ navn }}</option>
						{% endfor %}
					</select>
				</div>
			{% else %}
				<input type="hidden" name="kommune" value="{{ innslag.kommune_id }}" />
			{% endif %}
			
			{% if innslag.type.harTekniskeBehov %}
				<div class="form-group">
					<label>Tekniske behov</label>
					<textarea name="tekniske_behov" class="form-control">{{ innslag.tekniske_behov }}</textarea>
				</div>
			{% endif %}
		</div>
	</div>

	<div class="clearfix"></div>
	<p>&nbsp;</p>
	
	<div class="clearfix"></div>
	<button type="submit" class="action btn btn-success" data-action="save">Lagre</button>
	&nbsp; &nbsp; eller 
	<a href="#innslag_{{ innslag_id }}" class="innslagResetAndReloadBody" data-innslag-id="{{ innslag_id }}">avbryt</a>
	
	<div class="clearfix"></div>
</form>