<form action="nyttInnslag" id="nyttInnslagContainer_{{ innslag_type }}">
	<div class="row">
		<div class="col-xs-12">
			<div>
				<br />
				<h3 style="display:inline;">Legg til nytt innslag</h3> 
				&nbsp;
				<a href="#innslag_{{ innslag_id }}" class="action" data-action="close">avbryt</a>
			</div>
		</div>

		<input type="hidden" name="type" value="{{ innslag_type }}" />

		<div class="col-xs-12 col-sm-6 col-lg-4">
			{% if monstring.kommuner|length > 1  %}
				<div class="form-group text-danger">
					<label for="kommune">Kommune/bydel *</label>
					<select name="kommune" class="form-control" required>
						{% for id, navn in monstring.kommuner %}
							<option value="{{ id }}" {{ innslag.kommune_id == id ? 'selected' : '' }}>{{ navn }}</option>
						{% endfor %}
					</select>
				</div>
			{% else %}
				{% for id, navn in monstring.kommuner %}
					<input type="hidden" name="kommune" value="{{ id }}" />
				{% endfor %}
			{% endif %}
		</div>


		<div class="searchPerson col-xs-12">
			<label class="text-danger">Søk etter kontaktperson *</label>
			<p>Alle innslag må ha en kontaktperson. Skriv inn fornavn, etternavn eller mobil og trykk på rett person. Hvis du ikke finner den du leter etter i listen kan du legge til en ny person manuelt.</p>
			<div id="sokefelt">
				<div class="form-group">
					<input name="kontaktperson_sokefelt" id="filter_persons_innslag_{{ innslag_id }}" data-results="filter_persons_innslag_{{ innslag_id }}_results" type="search" class="filter_personer form-control" placeholder="Skriv fornavn, etternavn eller mobilnummer..." autocomplete="off" />
				</div>
				<ol class="list-group" id="filter_persons_innslag_{{ innslag_id }}_results">
					{% for person in personer %}
						<li class="list-group-item action clickable" data-action="addKontaktperson" data-person-id="{{ person.id }}" data-filter="{{ person.fornavn }} {{ person.etternavn }} {{ person.mobil }}">
							{{ person.fornavn }} {{ person.etternavn }} <small>{{ person.mobil }}</small>
						</li>
					{% else %}
						<li class="list-group-item nonefound">Vi finner ingen personer for din mønstring</li>
					{% endfor %}
				</ol>
				<p>
					Ligger ikke personen i listen? <a href="#" data-action="createPerson" data-target="filter_persons_innslag_{{ innslag_type }}_create" class="action">Legg til ny person.</a>
				</p>
			</div>
		</div>
			

		<div class="createPerson col-xs-12" id="filter_persons_innslag_{{ innslag_id }}_create" style="display:none">
			<div class="col-xs-12 well">
				<div class="col-xs-12">
					<h4 style="margin-bottom: 0px;">Opprett ny kontaktperson</h4>
					<p>Røde felt (merket *) er obligatoriske!</p>
				</div>
				
				<div class="col-xs-12 col-sm-6 col-lg-4">
					<div class="form-group text-danger">
						<label for="fornavn">Fornavn *</label>
						<input name="fornavn" id="fornavn" type="text" class="form-control" value="{{ person.fornavn }}" required />
					</div>
					<div class="form-group text-danger">
						<label for="etternavn">Etternavn *</label>
						<input name="etternavn" id="etternavn" type="text" class="form-control" value="{{ person.etternavn }}" required />
					</div>
					<div class="form-group text-danger">
						<label for="mobil">Mobil *</label>
						<input name="mobil" id="mobil" type="tel" class="form-control" value="{{ person.mobil }}" required />
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-lg-4">
					<div class="form-group text-danger">
						<label for="alder">Alder *</label>
						<select name="alder" class="form-control" required>
							<option value="false" {{ (person.alder_tall < 25) and (person.alder_tall > 9) and (person.alder_tall != '25+') ? '' : 'selected' }} disabled="disabled">Velg alder</option> 
							{% for i in 10..25 %}
								<option value="{{ i }}" {{ person.alder_tall == i ? 'selected' : '' }}>{{ i }} år</option> 
							{% endfor %}
							<option value="0"{{ person.alder_tall == '25+' or person.alder_tall >= 25 ? 'selected' : '' }}>Over 25 år</option>
						</select>
					</div>
					<div class="form-group">
						<label>E-post</label>
						<input name="epost" type="text" class="form-control" value="{{ person.epost }}" />
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
		<div class="clearfix"></div>
		
		<div class="selectedPerson col-xs-12">
			<div class="form-group">
				<label for="kontaktperson" class="text-danger">Kontaktperson *</label>
				<div class="kontaktpersonNavn"></div>
				<small><a href="#" class="action" data-action="resetKontaktperson">Ikke riktig person? Trykk her for å velge på nytt.</a></small>
				<input class="kontaktperson" type="hidden" name="kontakt" value="" />
			</div>
		</div>
		<div class="clearfix"></div>

			<div class="col-xs-12 col-sm-6 col-lg-4">
				<label>Funksjon / rolle / oppgave</label>
				<ul class="list-group">
					{% for funksjon in funksjoner %}
						<label class="list-group-item click" for="funksjon_{{ funksjon }}">
							<input type="checkbox" class="funksjon" name="funksjoner[]" value="{{ funksjon }}" id="funksjon_{{ funksjon }}" /> &nbsp; {{ funksjonsnavn[funksjon] }}
						</label>
					{% endfor %}
				</ul>
				<p>&nbsp;</p>
			</div>


			<div class="col-xs-12 col-sm-6 col-lg-4">		
				<div class="form-group">
					<label for="erfaring">Erfaring</label>
					<textarea type="text" class="form-control" required name="erfaring"></textarea>
				</div>
			</div>

			<div class="clearfix"></div>
			<div class="col-xs-12">
				<button type="submit" class="action btn btn-success" data-action="save" data-type="{{ innslag_type }}">Opprett {{ type_nicename|lower }}-deltaker</button>
				&nbsp; &nbsp; eller 
				<a href="#newInnslagBox_{{ innslag_type }}" class="action" data-action="close" data-target="#newInnslagBox_{{ innslag_type }}">avbryt</a>
			</div>
		</div>
	</div>
	
	<div class="clearfix"></div>
</form>