<div class="row">
	<fieldset class="col-xs-12 col-sm-6 col-lg-3">
		<legend class="hidden-xs"><small>Informasjon</small></legend>
		<p>
			<label>Mobil: </label> <a href="#innslag_{{ innslag_id }}" class="UKMSMS" data-to="{{person.mobil}}" data-name="{{person.navn}}">{{ person.mobil }}</a>
			<br />
			<label>E-post: </label> <a href="mailto:{{ person.epost }}">{{ person.epost }}</a>
			<br />
			<label>Erfaring: </label> {{ erfaring }}
		</p>
		<a href="#innslag_{{ innslag_id }}" class="actionEdit btn btn-block btn-primary btn-outline">Rediger informasjon</a>
		<br />
		<p class="hidden-xs">
			<a href="#innslag_{{ innslag_id }}" class="action" data-action="close">avbryt</a>
		</p>
	</fieldset>
	
	<fieldset class="col-xs-12 col-sm-6 col-lg-3">
		<legend><small>Program</small></legend>
		<ol class="list-group list-group-compact">
			{% for hendelse in innslag.hendelser %}
				<li class="list-group-item">
					Nr {{ hendelse.rekkefolge }} i <a href="admin.php?page=UKMprogram_admin&c_id={{ hendelse.id }}">{{ hendelse.navn }}</a>
					<a href="#innslag_{{ innslag_id }}" class="action btn btn-danger btn-xs pull-right" data-action="simpleSave" data-handle="deleteFromEvent" data-object-id="{{ hendelse.id }}" data-warning="Sikker på at du vil fjerne {{ person.fornavn }} fra {{ hendelse.navn }}?">Fjern</a>
					<div class="clearfix"></div>
				</li>
			{% else %}
				<li class="list-group-item">
					<small>Ikke lagt til i noen programhendelser</small>
				</li>
			{% endif %}
			<li class="list-group-item">
				<a href="#innslag_{{ innslag_id }}" class="actionEventAdd">+ Legg til i program</a>
			</li>
		</ol>
	</fieldset>
	
	<fieldset class="col-xs-12 col-sm-6 col-lg-3">
	</fieldset>

    {% if lignende is defined %}
		<div class="clearfix"></div>
		<fieldset class="col-xs-12">
			<legend>
				<small>Lignende innslag</small>
			</legend>
			<p class="explain">
				Ofte er ufullstendige påmeldinger et duplikat av en fullført påmelding, eller så har kontaktpersonen meldt på et annet innslag.
								Listen over lignende innslag viser deg innslag med lignende navn, eller andre innslag hvor noen av personene er med.
			</p>

			<p>
				<b>{{ alle_lignende|length }}
					innslag på din mønstring ligner på
					{{ innslag.navn }}</b>:
			</p>
			<ol class="list-group list-group-compact">
				{% for lignende in alle_lignende %}
					<li class="list-group-item">
						<div class="col-xs-12 col-sm-6">
							<i class="label label-xs label-{{ lignende.status == 8 ? 'success' : 'warning' }}">{{ lignende.status == 8 ? 'Påmeldt' : 'Ufullstendig påmelding' }}</i>
							&nbsp;
							<b>{{ lignende.navn }}</b>
                            <span class="text-muted">{{ lignende.type.navn|capitalize }}{{ lignende.type.harSjanger ? ' - ' ~lignende.sjanger : ''}}</span>
						</div>
						<div class="col-xs-12 col-sm-6 small">
							Fordi
							{{ lignende.grunnlag }}
						</div>
						<div class="clearfix"></div>
					</li>
				{% else %}
					<li class="list-group-item">Fant ingen lignende innslag</li>
				{% endif %}
			</ol>
		</fieldset>
		<div class="clearfix"></div>
	{% endif %}

	<fieldset class="col-xs-12 col-sm-6 col-lg-3">
		<legend><small>Handlinger</small></legend>
		{% if innslag.status != 8 %}
			<a href="#innslag_{{ innslag_id }}" class="action btn btn-block btn-success" data-action="meldPa">Meld på UKM</a>
		{% endif %}
		
        {% if innslag.avmeldbar %}
            <a href="#innslag_{{ innslag_id }}" class="action btn btn-block btn-danger col-xs-12 col-sm-4 col-lg-3" data-action="simpleSave" data-handle="meldAvInnslag" data-object-id="{{ innslag_id }}" data-warning="Sikker på at du vil melde av {{ innslag.navn }} fra ditt arrangement?">Meld av</a>
        {% else %}
            <p>
                Innslaget startet påmeldingen for kort tid siden ({{ innslag.subscription.date|dato('d.M H:i') }}). Vi anbefaler at du venter til {{ innslag.avmeldlas|dato('d.M H:i') }} før du melder av innslaget!
            </p>
            <a href="#innslag_{{ innslag_id }}" class="action btn btn-block btn-danger col-xs-12 col-sm-4 col-lg-3" data-action="simpleSave" data-handle="meldAvInnslag" data-object-id="{{ innslag_id }}" data-warning="Sikker på at du vil melde av {{ innslag.navn }} fra ditt arrangement, selv om de startet påmeldingen sin for kort tid siden?">Meld av</a>
        {% endif %}
		<div class="clearfix"></div>
		<br />
		<p class="visible-xs">
			<a href="#innslag_{{ innslag_id }}" class="action" data-action="close">avbryt</a>
		</p>
	</fieldset>
</div>