<div class="col-xs-12">
	<h4>Søk etter person</h4>
	<p>Søk på fornavn, etternavn eller mobil. Hvis du ikke finner den du leter etter kan du legge til manuelt</p>
	
	<div class="form-group">
		<label for="fornavn">SØK:</label>
		<input name="fornavn" id="filter_persons_innslag_{{ innslag.id }}" data-results="filter_persons_innslag_{{ innslag.id }}_results" type="search" class="filter_personer form-control" placeholder="Skriv fornavn, etternavn eller mobilnummer..." />
	</div>
	<ol class="list-group" id="filter_persons_innslag_{{ innslag.id }}_results">
		{% for person in personer %}
			<li class="list-group-item action clickable" data-action="addExistingPerson" data-person-id="{{ person.id }}" data-filter="{{ person.fornavn }} {{ person.etternavn }} {{ person.mobil }}">
				{{ person.fornavn }} {{ person.etternavn }} <small>{{ person.mobil }}</small>
			</li>
		{% else %}
			<li class="list-group-item nonefound">Vi finner ingen personer for din mønstring</li>
		{% endfor %}
	</ol>

	<p>
		<small>
			Ligger ikke personen i listen? <a href="#" data-action="showNewPerson" data-target="filter_persons_innslag_{{ innslag.id }}_create" class="action">Legg til ny person.</a>
		</small>
	</p>

	
</div>
	

<div id="filter_persons_innslag_{{ innslag.id }}_create" style="display:none">
	<div class="col-xs-12">
		<h4 style="margin-bottom: 0px;">Opprett ny person</h4>
		<p>Røde felt (merket *) er obligatoriske!</p>
	</div>
	
	<div class="col-xs-12 col-sm-6 col-lg-4">
		<div class="form-group text-danger">
			<label for="fornavn">Fornavn *</label>
			<input name="fornavn" type="text" class="form-control" required />
		</div>
		<div class="form-group text-danger">
			<label for="etternavn">Etternavn *</label>
			<input name="etternavn" type="text" class="form-control" required />
		</div>
		
		<div class="form-group text-danger">
			<label>Mobil *</label>
			<input name="mobil" type="tel" class="form-control" required />
		</div>
	</div>

	
	<div class="col-xs-12 col-sm-6 col-lg-4">
		<div class="form-group text-danger">
			<label for="rolle">Rolle / funksjon / instrument *</label>
			<input name="rolle" type="text" class="form-control" required />
		</div>

		<div class="form-group text-danger">
			<label for="alder">Alder *</label>
			<select name="alder" class="form-control" required>
				<option value="false" selected="selected" disabled="disabled">Velg alder</option> 
				{% for i in 10..25 %}
					<option value="{{ i }}">{{ i }} år</option> 
				{% endfor %}
				<option value="0">Over 25 år</option>
			</select>
		</div>

		{% if monstring.kommuner|length > 1  %}
			<div class="form-group text-danger">
				<label for="kommune">Kommune/bydel *</label>
				<select name="kommune" class="form-control" required>
					{% for id, navn in monstring.kommuner %}
						<option value="{{ id }}">{{ navn }}</option>
					{% endfor %}
				</select>
			</div>
		{% else %}
			{% for id, navn in monstring.kommuner %}
				<input type="hidden" name="kommune" value="{{ id }}" />
			{% endfor %}
		{% endif %}



		<div class="form-group">
			<label>E-post</label>
			<input name="epost" type="text" class="form-control" />
		</div>
	</div>

</div>