<form action="litteraturTittel">
	<div class="row">
			
		<input type="hidden" name="innslagsnavn" value="{{ innslag.navn }}" />
		<input type="hidden" name="tittel_id" value="{{ tittel.id }}"
		<div class="col-xs-12">
		<h4>Legg til tekst</h4>
			<p>Røde felt (merket *) er obligatoriske!</p>
		</div>
		
		<div class="col-xs-12 col-sm-6 col-lg-4">
			<div class="form-group text-danger">
				<label for="tittel">Navn på tekst / verk *</label>
				<input name="tittel" type="text" class="form-control" value="{{ tittel.tittel }}" required />
			</div>

			<div class="form-group">
				<label>Eventuelle medforfattere</label>
				<input type="text" name="tekstforfatter" class="form-control" value="{{ tittel.tekst_av }}" />
			</div>
		</div>
		
		<div class="col-xs-12 col-sm-6 col-lg-4">
			<div class="form-group" id="leseopp-valg">
				<p><label>Ønsker {{ innslag.navn }} å lese opp denne?</label></p>
				<label class="radio-inline"><input type="radio" name="leseopp" value="1" {{ tittel.lese_opp ? 'checked="checked"' : '' }}>ja</label>
				<label class="radio-inline"><input type="radio" name="leseopp" value="0" {{ tittel.lese_opp ? '' : 'checked="checked"' }}>nei</label>
			</div>
			
			<div class="form-group text-danger leseopp-true" {{ tittel.lese_opp ? '' : 'style="display:none;"' }}>
				<label for="lengde">Varighet *</label>
				<select name="lengde" required="required" class="form-control">
					<option value="" disabled="disabled" {{ tittel.varighet_sek == 0 ? 'selected="selected"' : }}>Velg varighet</option>
					{% for i in 0..60 %}
						<option value="{{ i * 10 }}" {{ (tittel.varighet_sek == i * 10) ? 'selected' : '' }}>
							{% if (i / 6)|round(0, 'floor') < 1 %}
								{{ (i % 6) * 10 }} sek
							{% else %}
								{{ (i / 6)|round(0, 'floor') }} min{% if ((i % 6) * 10 ) != 0 %}, {{ (i % 6) * 10 }} sek
								{% endif %}
							{% endif %}
						</option>
					{% endfor %}
				</select>
			</div>
		</div>
	</div>

	<div class="clearfix"></div>
	<p>&nbsp;</p>
	
	
	
	<div class="clearfix"></div>
	<button type="submit" class="action btn btn-success" data-action="save">Lagre</button>
	&nbsp; &nbsp; eller 
	<a href="#innslag_{{ innslag_id }}" class="innslagResetAndReloadBody" data-innslag-id="{{ innslag_id }}">avbryt</a>
	
	<div class="clearfix"></div>
</form>