<h1>Søk etter deltakere</h1>

<form method="POST">
	<div style="width: 98%">
	
		<div class="form-group">
			<label for="type">Velg felt å søke i</label>
			<select name="type" class="form-control">
				<optgroup label="Innslag">
					<option {{ search is defined and search.type == 'innslag' ? 'selected="selected"' }} value="innslag">Navn</option>
				</optgroup>
				<optgroup label="Person">
					<option {{ (search is defined and search.type == 'alle') or search is not defined ? 'selected="selected"' }} value="alle">Alle felt</option>
					<option {{ search is defined and search.type == 'fornavn' ? 'selected="selected"' }} value="fornavn" disabled="disabled">Fornavn</option>
					<option {{ search is defined and search.type == 'etternavn' ? 'selected="selected"' }} value="etternavn" disabled="disabled">Etternavn</option>
					<option {{ search is defined and search.type == 'mobil' ? 'selected="selected"' }} value="mobil" disabled="disabled">Mobil</option>
				</optgroup>
			</select>
		</div>

		<div class="form-group">
			<label for="search">Søkeord</label>
			<input type="text" name="search" class="form-control" placeholder="Søk etter..." value="{{ search is defined ? search.search }}" />
			<div id="helpBlock" class="help help-block">Bruk * for wildcard</div>
		</div>
		
		<div class="form-group">
			<button class="btn btn-success">Søk</button>
		</div>
	</form>

	{% if results.personer is defined %}
		<h2>Søkeresultat i personer <span class="badge">{{ results.personer|length }}</span></h2>
		
		<ol class="list-group">
			{% for person in results.personer %}
				<li class="list-group-item">
					<div style="width: 50%; float:right; text-align: right">
						{{ person.getKommune() }}, {{ person.getFylke() }}
						<br />
						<small> {{ person.getEpost() }}</small>
					</div>

					<div style="width: 50%">
						<b>{{ person.getNavn() }}</b>
						<br />
						{{ person.getMobil() }}
					</div>
					
					
					<div class="clearfix"></div>
				</li>
			{% else %}
				<li class="list-group-item">
					Ingen resultat!
				</li>
			{% endfor %}
		</ol>
	{% endif %}

	{% if results.innslag is defined %}
		<h2>Søkeresultat i innslag <span class="badge">{{ results.innslag|length }}</span></h2>
		
		<ol class="list-group">
			{% for innslag in results.innslag %}
				<li class="list-group-item">
					<div style="width: 50%; float:right; text-align: right">
						{{ innslag.getKommune() }}, {{ innslag.getFylke() }}
						<br />
						<small>
						{% for person in innslag.getPersoner().getAll() %}
							{{ person.getNavn() }} {{ person.getMobil() }}{{ not loop.last ? ', ' }}
						{% endfor %}
						</small>
					</div>

					<div style="width: 50%">
						<b>{{ innslag.getNavn() }}</b>
						<div class="label label-primary">{{ innslag.getSesong() }}</div>
						<br />
						{{  innslag.getKontaktperson().getNavn() }} {{ innslag.getKontaktperson().getMobil() }}
					</div>
					
					
					<div class="clearfix"></div>
				</li>
			{% else %}
				<li class="list-group-item">
					Ingen resultat!
				</li>
			{% endfor %}
		</ol>

	{% endif %}


</div>

