<style>
	.nop {
		padding: 0;
	}
	.paameldte-item {
		padding: 10px 15px;
	}
	.list-group-item a {
		text-decoration: none;
	}
	.list-group-item a:hover .paameldte-item .pull-right button,
	.list-group-item a:hover .paameldte-item {
		background: #ebebeb;
	}
	.list-group-item.velg-opsjon {
		overflow: hidden;
	}
	.nominasjoner {
		margin-top: 10px;
	}
	.nominasjoner .nominasjon {
		max-width: 100% !important;
		width: 100% !important;
		display: flex;
	}
	.nominasjon-buttons {
		display: flex;
		margin: auto;
		margin-right: 0;
	}
	.nominasjon-buttons .btn {
		margin-left: 10px;
	}
	.label-nominasjon {
		display: flex;
	}
	.label-nominasjon .text {
		margin: auto;
	}
	.nominasjoner-btn {
		position: relative;
	}
	.nominasjoner-btn .total-indicator{
	    position: absolute;
		right: -12px;
		top: -12px;
		border: solid 3px #fff;
		border-radius: 50%;
		width: 27px;
		height: 27px;
		text-align: center;
		background: red;
	}
</style>

<div style="width: 95% UKMfilter" id="filter_innslag">
	<h2>Dine {% if action == 'list_ufullstendig' %}uferdige påmeldinger{% else %}påmeldte deltakere{% endif %}</h2>

	<div id="monstringInnslag" erKunstgalleri="{{ monstring.erKunstgalleri() == true ? 'true' : 'false' }}" class="row">
		{% if monstring.harPamelding() %}
			<div class="col-xs-12 col-sm-6">
				<ol class="list-group">
					<li class="list-group-item velg-opsjon nop">
						{% if action != 'list_fullstendig' %}
							<a href="?page=UKMdeltakere&action=list_fullstendig" class="">
						{% endif %}
						<div class="paameldte-item">
							<div class="pull-right">
								{% if action == 'list_fullstendig' %}
									Vises nå
								{% else %}
									<button class="btn btn-default btn-sm pull-right">Vis</button>
								{% endif %}
							</div>
							<h3 style="margin:0px;" class="text-success">
								<span id="totalPameldteInnslag">{{ stat.fullstendige }}</span> <small class="text-success">Påmeldte innslag</small>
							</h3>
						</div>
						{% if action != 'list_fullstendig' %}
							</a>
						{% endif %}
					</li>
					<li class="list-group-item velg-opsjon nop">
						{% if action != 'list_ufullstendig' %}
							<a href="?page=UKMdeltakere&action=list_ufullstendig" class="">
						{% endif %}
							<div class="paameldte-item">
								<div class="pull-right">
									{% if action == 'list_ufullstendig' %}
										Vises nå
									{% else %}
										<button class="btn btn-default btn-sm pull-right">Vis</button>
									{% endif %}
								</div>
								<h3 style="margin:0px;" class="text-danger">
									{{ stat.ufullstendige }} <small class="text-danger">Ikke påmeldte innslag</small>
								</h3>
							</div>
						{% if action != 'list_ufullstendig' %}
							</a>
						{% endif %}

					</li>
				</ol>
			</div>
			
			<div class="visible-xs">
				<div class="clearfix"></div>
				<p>&nbsp;</p>
				<div class="clearfix"></div>
			</div>
		{% endif %}
	
		<div class="col-xs-12 col-sm-6 mt-0 pt-0">
			<div>
				<b>Begynn å skrive her for å søke blant påmeldte innslag.</b>
			</div>
			<form>
				<div class="form-group">
					<input class="form-control" type="search" name="search" placeholder="Du kan søke etter mobilnummer, navn, innslag og titler" />
				</div>
				<div>
					<p class="explain" style="margin-top: -10px; margin-left:4px; display:none;" id="filter_innslag_counter"></p>
				</div>
			</form>
		</div>
		
		{% if not monstring.harPamelding() %}
			<div class="col-xs-12 col-sm-4 col-sm-offset-1">
				<ol class="list-group">
					<li class="list-group-item">
						<h3 style="margin:0px;" class="text-success">
							{{ stat.fullstendige }} <small class="text-success">Påmeldte innslag</small>
						</h3>
					</li>
				</ol>
			</div>
			<div class="clearfix"></div>
			<p>&nbsp;</p>
			<div class="clearfix"></div>
		{% endif %}
		
		{% if nominasjoner and nominasjoner|length > 0 %}
			{% set unansweredNominasjoner = nominasjoner|filter(n => n.nominasjon.erAnswered() == false)|length %}
		<div class="col-xs-12">
			{# nominasjoner #}
			<button class="btn nominasjoner-btn btn-primary" type="button" data-toggle="collapse" data-target="#nominasjoner" aria-expanded="false" aria-controls="nominasjoner">
				<span>Nominasjoner</span>
				{% if unansweredNominasjoner > 0 %}
					<span class="total-indicator">{{ unansweredNominasjoner }}</span>
				{% endif %}
				
			</button>

			<div class="collapse nominasjoner in col-xs-12 nop" id="nominasjoner">
				{% for nominasjonArr in nominasjoner %}
				<div class="nominasjon list-group-item">
					{# {{ dump(nominasjon) }} #}
					{% set nominasjonInnslag = nominasjonArr.innslag %}
					{% set person = nominasjonArr.innslag.getPersoner().getSingle() %}
					{% set nominasjon = nominasjonArr.nominasjon %}
					
					<div class="nominasjon-info">
						<span class="nominasjon-person-navn">{{ person.getNavn() }}</span>
						<span class="label label-primary nominasjon-person-navn">{{ nominasjonInnslag.getType().getNavn() }}</span>
					</div>

					<div class="nominasjon-buttons" nominasjon-id="{{ nominasjon.getId() }}" innslag-id="{{ nominasjonInnslag.getId() }}">
						{% if nominasjon.erAnswered() %}
							<div class="pull-right label label-nominasjon label-{{ nominasjon.erGodkjent() ? 'success' : 'warning' }}">
								<span class="dashicons dashicons-info"></span>
								<span class="text">Nominasjon er {{ nominasjon.erGodkjent() ? 'godkjent' : 'avvist' }}</span>
							</div>
							{% if nominasjon.erGodkjent() %}
								<button godkjent-value="false" class="action btn btn-xs btn-danger" data-action="godkjentNominasjon">Avvis</button>
							{% else %}
								<button godkjent-value="true" class="action btn btn-xs btn-success" data-action="godkjentNominasjon">Godkjenn</button>
							{% endif %}		
						{% else %}
								<div class="pull-right label label-nominasjon label-danger">
								<span class="dashicons dashicons-info"></span>
								<span class="text">Du må besvare nominasjonen</span>
							</div>

								<button godkjent-value="true" class="action btn btn-xs btn-success" data-action="godkjentNominasjon">Godkjenn</button>
								<button godkjent-value="false" class="action btn btn-xs btn-danger" data-action="godkjentNominasjon">Avvis</button>
						{% endif %}
						
					</div>
						
				</div>
				{% endfor %}
			</div>
		</div>
		{% endif %}

	</div>
	
	<div class="clearfix"></div>
	
	{% block content %}
	{% endblock %}
	
	<div class="clearfix"></div>
</div>

<script>
    $(document).ready(function(){
        var listeFilter = new UKMresources.filter('#filter_innslag');
        listeFilter.on('change', function(antall) {
            if( antall == listeFilter.getItemCount() ) {
                $('#filter_innslag_counter').slideUp();
            } else {
                $('#filter_innslag_counter').html('Viser '+ antall +' treff i listen nedenfor').fadeIn();
            }
        });
    });

</script>