{% extends "layout.html.twig" %}

{% block content %}
<div class="row">
	{% for type_innslag in arrangement.getInnslagTyper() %}
		{% if arrangement.getInnslag().getAllUfullstendige()|length > 0 %}
			<div class="innslagBlock col-xs-12">
				<div class="innslagTypeHeader">
					<a href="?page=UKMdeltakere&create=add-new-{{ type_innslag.getKey() }}#add-new-{{ type_innslag.getKey() }}" class="pull-right btn btn-xs btn-default">Legg til nytt innslag</a>
					
					<img src="{{ type_innslag.getIcon() }}" height="45" />
					<h3>{{ type_innslag }}</h3>
					<div class="clearfix"></div>
				</div>
				<ol class="list-group innslag_lister items">
					{% for innslag in list_innslag[ type_innslag.getKey() ] %}
						{% embed "list_item.html.twig" with { vis_varsler: false }%}{% endembed %}
					{% else %}
						<li class="list-group-item">Ingen ufullstendige påmeldinger i {{ type_innslag|lower }}</li>
					{% endfor %}
				</ol>
			</div>
		{% else %}
			{% set vis_kategori_info = true %}
		{% endif %}
	{% endfor %}
</div>
{% endblock %}