{% extends "layout.html.twig" %}

{% block content %}
	<div class="row">
		{% for type_innslag in monstring.getInnslagTyper( true ).getAll() %}
			<div class="innslagBlock col-xs-12">
				<div class="innslagTypeHeader">
					<a href="#" class="action pull-right btn btn-xs btn-success" data-action="nyttInnslag" data-type="{{ type_innslag.getKey() }}" id="add-new-{{ type_innslag.getKey() }}">Legg til {{ type_innslag.harTitler() ? 'nytt innslag' : 'ny person' }}</a>
					
					<img src="{{ type_innslag.getIcon() }}" height="45" />
					<h3>{{ type_innslag }}</h3>
					<div class="clearfix"></div>
				</div>
				<ul class="list-group innslag_lister items" id="innslag_liste_{{ type_innslag.getKey() }}">
					<li class="as-card-2 as-padding-space-3 as-margin-bottom-space-1 innslag" data-innslag-id="new_{{ type_innslag.getKey() }}" id="innslag_new_{{ type_innslag.getKey() }}" style="display: none;">
						<div class="body">
						</div>
					</li>
					<li class="as-card-2 as-padding-space-3 as-margin-bottom-space-1 ingen-pameldte item hide" data-filter="">Ingen påmeldte i {{ type_innslag }}</li>

					{% for innslag in list_innslag[ type_innslag.getKey() ] %}
						{% embed "list_item.html.twig" with { vis_varsler: true } %}{% endembed %}
					{% else %}
						<li class="as-card-2 as-padding-space-3 as-margin-bottom-space-1 ingen-pameldte item" data-filter="">Ingen påmeldte i {{ type_innslag }}</li>
					{% endfor %}
				</ul>
			</div>
		{% endfor %}
	</div>

<script>
		$(document).ready(function(){
			{% if doAdd is defined %}
				var btn = jQuery('#{{ doAdd }}');
				jQuery(document).trigger('innslag.showNew', btn);
			{% endif %}
			{% if doEdit is defined %}
				jQuery(document).trigger('innslag.showBody', {{ doEdit }});
				jQuery(document).trigger('innslag.goToView', {{ doEdit }});
			{% endif %}
		});
</script>
{% endblock %}