{% if nominasjoner and nominasjoner|filter(n => n.nominasjon.erAnswered() == false)|length > 0 %}
		{% set unansweredNominasjoner = nominasjoner|filter(n => n.nominasjon.erAnswered() == false)|length %}
		<div class="col-xs-12 alle-nominasjoner">
			{# nominasjoner #}
			<button class="btn nominasjoner-btn btn-primary" type="button" data-toggle="collapse" data-target="#nominasjoner" aria-expanded="false" aria-controls="nominasjoner">
				<span>Nominasjoner</span>
				{% if unansweredNominasjoner > 0 %}
					<span class="total-indicator">{{ unansweredNominasjoner }}</span>
				{% endif %}
				
			</button>

			<div class="collapse nominasjoner in col-xs-12 nop" id="nominasjoner">
				{% for nominasjonArr in nominasjoner|filter(nom => nom.nominasjon.erAnswered() == false) %}
				<div class="nominasjon list-group-item">
					{# {{ dump(nominasjon) }} #}
					{% set nominasjonInnslag = nominasjonArr.innslag %}
					{% set person = nominasjonArr.innslag.getPersoner().getSingle() %}
					{% set nominasjon = nominasjonArr.nominasjon %}
					
					<div class="nominasjon-info">
						<h4 class="nominasjon-person-navn">{{ person.getNavn() }}</h4>
                    {% for rolle in nominasjonInnslag.getPersoner().getSingle().getRolle()|split(',') %}
                        <span class="label label-primary">{{ rolle }}</span>
                    {% endfor %}
					</div>

					<div class="nominasjon-buttons" nominasjon-id="{{ nominasjon.getId() }}" innslag-id="{{ nominasjonInnslag.getId() }}">
						{% if nominasjon.erAnswered() %}
							<div class="pull-right label label-nominasjon label-{{ nominasjon.erGodkjent() ? 'success' : 'warning' }}">
								<span class="dashicons dashicons-info"></span>
								<span class="text">{{ nominasjon.erGodkjent() ? 'Godkjent' : 'Ikke godkjent' }}</span>
							</div>
							{% if nominasjon.erGodkjent() %}
								<button godkjent-value="false" class="action btn btn-xs btn-danger" data-action="godkjentNominasjon">Avvis</button>
							{% else %}
								<button godkjent-value="true" class="action btn btn-xs btn-success" data-action="godkjentNominasjon">Godkjenn</button>
							{% endif %}		
						{% else %}
								<button godkjent-value="true" class="action btn btn-xs btn-success" data-action="godkjentNominasjon">Godkjenn</button>
								<button godkjent-value="false" class="action btn btn-xs btn-danger" data-action="godkjentNominasjon">Avvis</button>
						{% endif %}
						
					</div>

                    <div class="nominasjon-vis-mer-div">
                        <button class="btn btn-xs btn-light collapsed" type="button" data-toggle="collapse" data-target="#visMer{{ nominasjon.getId() }}" aria-expanded="false" aria-controls="visMer{{ nominasjon.getId() }}">
                            <span class="dashicons dashicons-arrow-down-alt2"></span>
                        </button>
                    </div>

                    

                    <div id="visMer{{ nominasjon.getId() }}" class="skjemaer collapse">
                        <span>Type: {{ nominasjonInnslag.getType().getNavn() }}</span>
                        {% if nominasjon.harVoksenskjema() %}
                            <h5><span class="dashicons dashicons-yes-alt nominasjon-correct"></span>Levert voksenskjema</h5>
                            <p>Fylt ut av: <b>{{ nominasjon.getVoksen().getNavn() }} ({{ nominasjon.getVoksen().getMobil() }})</b></p>
                            <br>
                        {% else %}
                            <h5><span class="dashicons dashicons-dismiss nominasjon-error">Har ikke levert voksenskjema</h5>
                        {% endif %}
                        
                        <div class="show-details">
                            {% if nominasjonInnslag.getType().getKey() == 'arrangor' or nominasjonInnslag.getType().getKey() == 'datakulturarrangor' %}
                                {% include "nominasjoner/arrangor.html.twig" %}
                            {% elseif nominasjonInnslag.getType().getKey() == 'nettredaksjon' %}
                                {% include "nominasjoner/nettredaksjon.html.twig" %}
                            {% elseif nominasjonInnslag.getType().getKey() == 'konferansier' %}
                                {% include "nominasjoner/konferansier.html.twig" %}
                            {% endif %}
                        </div>
                        
                        {% if nominasjon.harDeltakerskjema() == false %}
                            <div class="har-ikke-deltakerskjema">
                                <h5><span class="dashicons dashicons-dismiss nominasjon-error"></span></span>Har ikke levert deltakerskjema</h5>
                            </div>
                        {% endif %}
                        
                    </div>
				</div>

				{% endfor %}
			</div>
		</div>
		{% endif %}


<style>
.nominasjon-vis-mer-div {
    margin-bottom: 10px;
    display: flex;
}
.nominasjon-vis-mer-div .btn {
    margin: auto;
    width: 80px;
}
.nominasjon-vis-mer-div .btn span.dashicons {
    transform: rotate(180deg)
}
.nominasjon-vis-mer-div .btn.collapsed span.dashicons {
    transform: rotate(0)
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  width: 50%;
}
.nominasjon-error {
    color: #d43f3a;
    margin-right: 3px;
    margin-top: -2px;
}
.nominasjon-correct {
    color: #5cb85c;
    margin-right: 3px;
    margin-top: -2px;
}
.har-ikke-deltakerskjema {
    margin: 20px 0;
}
.skjemaer {
    margin-top: -20px;
}
</style>